<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    @*<title>Impact Bootstrap Template - Index</title>*@
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Scripts/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Scripts/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/Content/main.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info  align-items-center">
                <p class="d-flex align-items-center">@User.Identity.Name 您好，按<a href="@Url.Action("Logout", "Users")">登出</a>&nbsp;即離開系統</p>
            </div>
        </div>
    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/Home/Index" class="logo d-flex align-items-center">
                <h1>PostHub<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>@Html.ActionLink("管理帳號", "Index", "Users")</li>
                    @*<li><a href="~/Views/Users/Index.cshtml">管理帳號</a></li>*@
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li>@Html.ActionLink("查看貼文", "Index", "Posts")</li>
                    <li>@Html.ActionLink("建立貼文", "Create", "Posts")</li>
                    <li><a href="#contact">Contact</a></li>
                    <li>@Html.ActionLink("登入帳號", "Login", "Users")</li>
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->
    <main id="main">
        @RenderBody()
    </main>
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">

            <div class="container">
                <div class="row gy-4">
                    @*<div class="col-lg-5 col-md-12 footer-info">
                        <a href="~/Views/Home/Index.cshtml" class="logo d-flex align-items-center">
                            <span>PostHub</span>
                        </a>
                        <p>
                            在PostHub，我們相信每個人都有故事可以分享。
                            <br />
                            我們為您提供一個平台，
                            <br />
                            分享並與來自世界各地的人們探索有趣，啟發人心的貼文。
                            <br />
                            無論您對於任何主題的看法如何，PostHub 都是您的聲音可以被聽到的地方。
                            <br />
                            我們邀請您加入我們的社區，一起分享經驗，一起學習，一起成長。.
                        </p>
                    </div>*@

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                    </div>

                </div>
            </div>

        </footer><!-- End Footer -->
        <!-- End Footer -->
        <!-- Vendor JS Files -->
        <script src="~/Scripts/vendor/js/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/vendor/aos/aos.js"></script>
        <script src="~/Scripts/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/Scripts/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/Scripts/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/Scripts/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/Scripts/vendor/php-email-form/validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <!-- Template Main JS File -->
        <script src="~/Scripts/js/main.js"></script>

</body>

</html>