@model Asp_Net_FinalProject.Models.User
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web


<title>建立帳號</title>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>建立帳號</h2>
                    <p>
                        加入PostHub，您可以：
                        <br />
                        <br />
                        探索有趣的内容
                        <br />
                        表達個人觀點和聲音
                        <br />
                        學習和成長
                        <br />
                        連接和交流
                        <br />
                        建立個人品牌和影響力
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li>建立帳號</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<section>
    <div class="container">
        @*<div class="section-header">
                <h2>建立新帳號</h2>
            </div>*@
        <div class="login-container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5 sections-bg">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div style="text-align:center">
                                <h4>建立帳號</h4>
                            </div>
                            <div>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "UserName", required = "required", name = "UserName" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required", name = "Password", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required", name = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group">
                                    @*<input class="btn btn-success rounded submit p-3 px-5" data-bs-toggle="modal" data-bs-target="#exampleModal" value="建立" type="submit">*@
                                    <input class="btn btn-success rounded submit p-3 px-5" value="建立" type="submit">
                                </div>
                            </div>
                        }

                        <!-- Modal -->
                        <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">-->
                                        @*<h1 class="modal-title fs-5" id="exampleModalLabel">註冊失敗！@ViewData["Message"]</h1>*@
                                        <!--<h1 class="modal-title fs-5" id="exampleModalLabel">註冊成功！ @ViewData["Message"]</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">-->
                                        @*<text>請輸入正確格式</text>*@
                                        <!--<text>5秒後，自動進入登入頁面！</text>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="Login" class="btn-Login btn btn-success" data-bs-dismiss="modal" aria-label="Close">關閉</a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

