@model Asp_Net_FinalProject.Models.Post

@*@{
        ViewBag.Title = "Details";
    }*@
<title>@Html.DisplayFor(model => model.Title)</title>


<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Post_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Post_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <h2>評論</h2>

                <input type="text" class="form-control" placeholder="撰寫評論" required name="Content">
                <button id="Btn_commit" data-bs-toggle="modal" data-bs-target="#exampleModal">確認</button>
            </div>
        }
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">留言成功！</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                恭喜您！留言成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
